@model IEnumerable<WebStore.Domain.Models.ModelBlogPost>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_LeftSideBar" />
            </div>
            <div class="col-sm-9">
                <div class="blog-post-area">
                    <h2 class="title text-center">Последние новости из нашего блога</h2>
                    @foreach (var blog in Model)
                    {
                        <div class="single-blog-post">
                            <h3>@blog.Title</h3>
                            <div class="post-meta">
                                <ul>
                                    <li><i class="fa fa-user"></i> @blog.User</li>
                                    <li><i class="fa fa-clock-o"></i> @blog.Clock</li>
                                    <li><i class="fa fa-calendar"></i> @blog.Date</li>
                                </ul>
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </span>
                            </div>
                            <a href="">
                                <img src="~/images/blog/@blog.Pic" alt="">
                            </a>
                            <p>@blog.Context</p>
                            <a class="btn btn-primary" href="">Подробнее</a>
                        </div>
                    }
                    <div class="pagination-area">
                        <ul class="pagination">
                            <li><a href="" class="active">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
