@model IEnumerable<WebStore.Domain.ViewModels.EmployeeViewModel>

@{
    ViewBag.Title = "Сотрудники";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    @if (User.IsInRole(WebStore.Domain.Entities.Identity.Role.Administrator))
    {
        <a asp-action="Edit" class="btn btn-success">Создать нового сотрудника через Edit</a>

        <a asp-action="Create" class="btn btn-success">Создать нового сотрудника через Create</a>
    }
    <hr />

    <table class="table table-bordered" id="employees-table">
        <thead>
            <tr>
                <th>id</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
                @if (User.IsInRole(WebStore.Domain.Entities.Identity.Role.Administrator))
                {
                    <th></th>
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
            <tr>
                @if (User.IsInRole(WebStore.Domain.Entities.Identity.Role.Administrator))
                {
                    <td><a asp-controller="Employees" asp-action="Edit" asp-route-Id="@employee.Id">@employee.Id</a></td>
                    <td><a asp-controller="Employees" asp-action="Edit" asp-route-Id="@employee.Id">@employee.SecondName</a></td>
                    <td><a asp-controller="Employees" asp-action="Edit" asp-route-Id="@employee.Id">@employee.Name</a></td>
                    <td><a asp-controller="Employees" asp-action="Edit" asp-route-Id="@employee.Id">@employee.Patronymic</a></td>
                    <td><a asp-controller="Employees" asp-action="Edit" asp-route-Id="@employee.Id">@employee.Age</a></td>
                    <td>
                        <a asp-controller="Employees" asp-action="Details" asp-route-Id="@employee.Id">Карточка</a>
                    </td>
                    <td>
                        <a asp-controller="Employees" asp-action="Delete" asp-route-Id="@employee.Id">Удалить</a>
                    </td>
                }
                else
                {
                    <td><a asp-controller="Employees">@employee.Id</a></td>
                    <td><a asp-controller="Employees">@employee.SecondName</a></td>
                    <td><a asp-controller="Employees">@employee.Name</a></td>
                    <td><a asp-controller="Employees">@employee.Patronymic</a></td>
                    <td><a asp-controller="Employees">@employee.Age</a></td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>

@section Styles{
    @*<style>
            #customers-table {
                background: red
            }
        </style>*@
}

@section Scripts
{
    <!-- <script>QWE</script> -->
}
