@model ModelProductDetal

<div class="category-tab shop-details-tab">
    <!--category-tab-->
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a href="#details" data-toggle="tab">Подробности</a></li>
            <li><a href="#companyprofile" data-toggle="tab">Профиль компании</a></li>
            <li><a href="#tag" data-toggle="tab">Метка</a></li>
            <li class="active"><a href="#reviews" data-toggle="tab">Обзоры (5)</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade" id="details">
            @foreach (var product in Model.gallery1)
            {
                <div class="col-sm-3">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/images/home/@product.Pic" alt="" />
                                <h2>@product.Price</h2>
                                <p>@product.Name</p>
                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Добавить в карзину</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="tab-pane fade" id="companyprofile">
            @foreach (var product in Model.gallery2)
            {
                <div class="col-sm-3">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/images/home/@product.Pic" alt="" />
                                <h2>@product.Price</h2>
                                <p>@product.Name</p>
                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Добавить в карзину</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="tab-pane fade" id="tag">
            @foreach (var product in Model.gallery1)
            {
                <div class="col-sm-3">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/images/home/@product.Pic" alt="" />
                                <h2>@product.Price</h2>
                                <p>@product.Name</p>
                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Добавить в карзину</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="tab-pane fade active in" id="reviews">
            <div class="col-sm-12">
                <ul>
                    <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                    <li><a href=""><i class="fa fa-clock-o"></i>12:41</a></li>
                    <li><a href=""><i class="fa fa-calendar-o"></i>31 ДЕК 2014</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p><b>Напишите Свой Отзыв</b></p>

                <form action="#">
                    <span>
                        <input type="text" placeholder="Имя" />
                        <input type="email" placeholder="Емайл" />
                    </span>
                    <textarea name=""></textarea>
                    <b>Рейтинг: </b> <img src="~/images/product-details/rating.png" alt="" />
                    <button type="button" class="btn btn-default pull-right">
                        Отправить
                    </button>
                </form>
            </div>
        </div>

    </div>
</div><!--/category-tab-->